NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=modern_homes_products
NEXT_PUBLIC_BUSINESS_WHATSAPP=919XXXXXXXXX
NEXT_PUBLIC_SITE_URL=http://localhost:3000
